snowballstemmer==2.2.0
mccabe==0.6.1
eradicate==2.1.0
typing_extensions==4.3.0
smmap==5.0.0
# pyyaml==6.0
pygments==2.13.0
pyflakes==2.4.0
pydocstyle==6.1.1
pycodestyle==2.8.0
pbr==5.10.0
isort==5.10.1
docutils==0.19
darglint==1.8.1
attrs==22.1.0
astor==0.8.1
stevedore==4.0.0
# restructuredtext-lint==1.4.0  # installed from file
gitdb==4.0.9
flake8==4.0.1
gitpython==3.1.27
flake8-string-format==0.3.0
flake8-rst-docstrings==0.2.7
# flake8-quotes==3.3.1  # installed from file
flake8-polyfill==1.0.2
flake8-isort==4.2.0
flake8-eradicate==1.3.0
flake8-docstrings==1.6.0
flake8-debugger==4.1.2
flake8-comprehensions==3.10.0
flake8-commas==2.1.0
flake8-bugbear==22.8.23
flake8-broken-line==0.4.0
pep8-naming==0.12.1
# bandit==1.7.4
# flake8-bandit==3.0.0
wemake-python-styleguide==0.16.1
